<!-- INCLUDE overall_header.html -->

<div id="content_container">
    {CMBB_BREADCRUMBS}
    <div id="content">
        <div id="content_pagetitle">
            <h1>{CMBB_CATEGORY_NAME}</h1>
        </div>

        <p class="page_link">[ <a href="{ROOT_PATH}viewtopic.php?t={CMBB_ARTICLE_TOPIC_ID}">Reageer in het forum</a> ] | [ <a href="javascript:history.back(-1)">terug</a> ]</p>
        <div class="article_box">
            <h1>{CMBB_TITLE}</h1>
            <p class="auteur">{L_POST_BY_AUTHOR} {CMBB_AUTHOR}</p>
            <div id="content_val">{CMBB_CONTENT}</div>
        </div>
        <p class="page_link">[ <a href="{ROOT_PATH}viewtopic.php?t={CMBB_ARTICLE_TOPIC_ID}">Reageer in het forum</a> ] | [ <a href="javascript:history.back(-1)">terug</a> ]</p>

        {CMBB_BREADCRUMBS}
    </div>
</div>
<!-- INCLUDE footer_extra.html -->
<!-- INCLUDE overall_footer.html -->
