<!-- INCLUDE overall_header.html -->
<div id="content_container">

<p>CKEDITOR WILL FOLLOW</p>
<p>UPLOADER WILL FOLLOW</p>
<form class="edit_form" method="post" action="{U_FORM_ACTION}">
    <p><label for="title">{L_TITLE}</label><input name="title" type="text" value="{CMBB_TITLE}" /></p>
    <p><label for="category_id">{L_CATEGORY}</label>{CMBB_CATEGORY_DROPDOWN}</p>
    <p><label for="content">{L_CONTENT}</label></p><textarea name="content">{CMBB_CONTENT}</textarea><br />
    <fieldset class="submit-buttons">
        <input name="submit" class="button1" value="{L_SUBMIT}" type="submit">
    </fieldset>
</form>
</div>


<!-- INCLUDEJS @ger_cmbb/ckeditor/ckeditor.js -->

<!-- INCLUDE footer_extra.html -->
<!-- IF CMBB_LEFTBAR -->
    </div>
<!-- ENDIF -->
<!-- INCLUDE overall_footer.html -->




