<link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel='stylesheet' />
<hr />

<p style="text-align: center;"><em>Je kunt hieronder bestanden uploaden naar de server om in je artikel te gebruiken.<br />
Toegestane bestandstypes zijn png, jpg, gif en pdf.<br />
Je kunt bestanden van maximaal 2MB per stuk uploaden </em></p>

<form id="upload" method="post" action="upload.php" enctype="multipart/form-data">
	<div id="drop">
		Sleep je bestanden naar dit vak

		<a>Of blader</a>
		<input type="file" name="upl" multiple />
	</div>

	<ul>
		<!-- The file uploads will be shown here -->
	</ul>

</form>

<!-- JavaScript Includes -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="assets/site/upload/js/jquery.knob.js"></script>

<!-- jQuery File Upload Dependencies -->
<script src="assets/site/upload/js/jquery.ui.widget.js"></script>
<script src="assets/site/upload/js/jquery.iframe-transport.js"></script>
<script src="assets/site/upload/js/jquery.fileupload.js"></script>

<!-- Our main JS file -->
<script src="assets/site/upload/js/script.js"></script>