<!-- INCLUDE cmbb/cmbb_header.html -->
<div id="content_container">
    {CMBB_BREADCRUMBS}
    <div id="content">
        <div id="content_pagetitle">
            <h1>{L_CONTACT_US}</h1>
        </div>
        <p>{L_CONTACT_ADMIN} </p><br /> 
        <form class="edit_form contact" method="post" action="index.php?m=c">
            <p>
                <label for="subject">{L_SUBJECT}:</label> 
                <input name="subject" type="text">
            </p>
            {CMBB_PERSONFIELDS}
            <p>
                <label for="message">{L_MESSAGE_BODY}:</label><br />
                <textarea name="message"></textarea>
            </p>
            <fieldset class="submit-buttons">
                <input name="submit" class="button1" value="{L_SUBMIT}" type="submit">
            </fieldset>
        </form>
        {CMBB_BREADCRUMBS}
    </div>
</div>
<!-- INCLUDE cmbb/footer_extra.html -->
<!-- INCLUDE overall_footer.html -->