<!-- IF CMBB_MENU -->
<nav id="main-navigation" role="navigation">
    <ul id="main-menu">
		<!-- EVENT ger_cmbb_main_menu_prepend -->
        <!-- IF U_SITE_HOME -->
            <li><a href="{U_SITE_HOME}">{L_SITE_HOME}</a></li>
        <!-- ENDIF -->
        <li><a href="{U_INDEX}">{L_INDEX}</a></li>
        {CMBB_MENU}
        <!-- IF U_CONTACT_US -->
            <li><a href="{U_CONTACT_US}">{L_CONTACT_US}</a></li>
        <!-- ENDIF -->
		<!-- EVENT ger_cmbb_main_menu_append -->
    </ul>
</nav>
<!-- ENDIF -->
