<!-- IF CMBB_LEFTBAR -->
<div id="content-wrapper">
    <div id="cmbb_leftbar" class="cmbb_sidebar">
		<!-- EVENT ger_cmbb_leftbar_prepend -->
		<div id="login">
			<!-- IF S_USER_LOGGED_IN -->
				<h3>{S_WELCOME_USER}</h3> 
				<p>(<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a>)</p>
				<!-- IF S_CAN_EDIT -->
					<p><a href="{U_NEW_ARTICLE}" class="button" alt="{L_NEW_ARTICLE}"><span>{L_NEW_ARTICLE}</span> <i class="icon fa-asterisk fa-fw" aria-hidden="true"></i></a></p>
					<!-- IF U_EDIT_ARTICLE --> 
						<p><a href="{U_EDIT_ARTICLE}" class="button" alt="{L_EDIT_ARTICLE}"><span>{L_EDIT_ARTICLE}</span> <i class="icon fa-pencil fa-fw" aria-hidden="true"></i></a></p>
					<!-- ENDIF -->
				<!-- ENDIF -->
				<!-- IF S_CAN_SEE_HIDDEN -->
					<!-- IF S_HIDDEN -->
						<p><a href="{U_HIDDEN}" class="button" alt="{L_SHOW_HIDDEN}"><span>{L_SHOW_HIDDEN}</span> <i class="icon fa-recycle fa-fw icon-green" aria-hidden="true"></i></a></p>
					<!-- ELSE -->
						<p><span class="button"><span>{L_NO_HIDDEN}</span> <i class="icon fa-recycle fa-fw icon-gray" aria-hidden="true"></i></span></p>
					<!-- ENDIF -->
				<!-- ENDIF -->
			<!-- ELSE -->
				<form method="post" action="{U_LOGIN_LOGOUT}">
					<h3>{L_LOGIN}{L_COLON}</h3><br />
					<fieldset>
						<p><label for="username">{L_USERNAME}{L_COLON}</label> <input type="text" id="username" name="username" /></p>
						<p><label for="password">{L_PASSWORD}{L_COLON}</label> <input type="password" id="password" name="password" /></p>
						<p><label for="autologin" style="width: 100%"><input type="checkbox" id="autologin" name="autologin" />{L_LOG_ME_IN}</label></p>
						<input type="submit" class="button2" value="{L_LOGIN}" name="login" /></p>
						<input type="hidden" name="redirect" value="{U_LOGIN_REDIRECT}" />
					</fieldset>
				</form>
			<!-- ENDIF -->
		</div>
		<!-- IF latest_topic_feed -->
		<div id="topiclist">
			<h3>{L_FEED_TOPICS_NEW}</h3><br />
				<ul class="lt">
					<!-- BEGIN latest_topic_feed -->
						<li class="lt"><a href="{latest_topic_feed.U_TOPIC}">{latest_topic_feed.TOPIC_TITLE}</a> </li>
					<!-- END latest_topic_feed -->						
				</ul>
		</div>
		<!-- ENDIF -->
		<div id="stats">
			<h3>{L_STATISTICS}</h3>
			 <p><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a>{L_COLON}<br />{USERS_ONLINE}</p>
			 <p>{USERS_TOTAL}<br />{USER_NEWST}</p>
		</div>
		<!-- EVENT ger_cmbb_leftbar_append -->
		<!-- IF S_SHOW_RIGHTBAR -->
			<div id="responsive_rightbar">{CMBB_RIGHTBAR_CONTENT}</div>
		<!-- ENDIF -->
    </div>
<!-- ENDIF -->