<link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel='stylesheet' />
<hr />

<p style="text-align: center;"><em>{L_CMBB_UPLOAD_EXPLAIN} {ALLOWED_EXT} </em></p>

<form id="upload" method="post" action="{U_UPLOAD_ACTION}" enctype="multipart/form-data">
	<div id="drop">
		{L_CMBB_UPLOAD_DRAG}
		<a>{L_CMBB_UPLOAD_BROWSE}</a>
		<input type="file" name="upl" multiple />
	</div>

	<ul>
		<!-- The file uploads will be shown here -->
	</ul>

</form>

<!-- JavaScript Includes -->
<!-- INCLUDEJS upload/js/jquery.knob.js -->
<!-- INCLUDEJS upload/js/jquery.ui.widget.js -->
<!-- INCLUDEJS upload/js/jquery.iframe-transport.js -->
<!-- INCLUDEJS upload/js/jquery.fileupload.js -->
<!-- INCLUDEJS upload/js/script.js -->
